@media only screen and (min-width: 930px) { /* Vertical video player */
    .videoplayer-container {
        position: absolute;
        top: 1em;
        left: 1em;
        width: calc(100% - 4em);
    }
    .videoplayer-controlls {
        position: absolute;
        bottom: 0;
        height: 3em;
        width: 100%;
        background-color: #ffffff11;
    }
}
@media only screen and (min-width: 1200px) { /* Three vids */
    .recomendations-container {
    width: 68em;
    }
}
@media only screen and (min-width: 1070px) { /* Four vids */
.recomendations-container {
        width: 90em;
    }
}
.main-area-container {
    width: 100%;
    left: 0;
    top: 3em;
}
.play {
    position: absolute;
    bottom: 0.25em;
    left: 1em;
    height: 2.2em;
    width: 2.2em;
}
.play-img {
    height: 100%;
    width: 100%;
}
.skip-next {
    position: absolute;
    bottom: .25em;
    left: 3.5em;
    height: 2.2em;
    width: 2.2em;
}
.skip-next-img {
    height: 100%;
    height: 100%;
}
.volume {
    position: absolute;
    bottom: .4em;
    left: 6.1em;
    height: 1.9em;
    width: 1.9em;
}
.volume-img {
    height: 100%;
    width: 100%;
}
.volume-slider {
    position: absolute;
    bottom: .4em;
    left: 8.1em;
    height: 1.9em;
    width: 5.1em;
}
.volume-slider-cntrl {
    position: absolute;
    left: 0;
    margin-top: 0.5em;
    width: 4.1em;
}
.timetxt {
    position: absolute;
    height: 1em;
    left: 12em;
    bottom: .8em;
}
.timetxt-content {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100%;
    width: 100%;
}
.timebar {
    position: absolute;
    top: .2em;
    left: 1em;
    height: .2em;
    background-color: #ffffff6e;
    width: calc(100% - 2em);
}
.timebar-progress {
    position: absolute;
    height: 100%;
    background-color: red;
    left: 0;
    top: 0;
    width: 0%;
}
.fullscreen-toggle {
    position: absolute;
    height: 2em;
    width: 2em;
    top: 0.5em;
    right: 1em;
}
.fullscreen-toggle-img {
    height: 100%;
    width: 100%;
}
.pip-activate {
    position: absolute;
    height: 1.8em;
    width: 2.2em;
    top: 0.6em;
    right: 3.2em;
}
.pip-symbol {
    height: 100%;
    width: 100%;
}
.settings {
    position: absolute;
    height: 1.8em;
    width: 1.8em;
    top: 0.6em;
    right: 5.6em;
}
.settings-img {
    height: 100%;
    width: 100%;
}
.cc {
    position: absolute;
    height: 1.8em;
    width: 1.8em;
    top: 0.6em;
    right: 7.9em;
    top: 0.6em;
}
.cc-img {
    height: 100%;
    width: 100%;
}
.loadinggif {
    position: absolute;
    height: 10em; 
    width: 10em; 
    bottom: calc(50% - 5em); 
    left: calc(50% - 5em)
}
.w100 {
    width: 100%;
}
.videocontainer {
    width: 100%;
}
/*.cntrls-dimmarea {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000001e;
    height: 100%;
    width: 100;
}*/
